* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	color: #000;
	background-size: cover;
}

time {
	font-size: 8rem;
}

h1 {
	font-size: 2rem;
	margin: 0 0 3rem;
}

h2 {
	margin: 0 0 .5rem;
	opacity: .7;
}

@media (max-width: 700px) {
	time {
		font-size: 6rem;
	}
}